.h-48px {
    height: 48px;
    margin: 3% 23%
}

.center {
    text-align: center;
}

#cont {
    align-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px
}

.info {
    /* display: flex; */
    width: 310px;
    border: 1px solid rgba(0, 0, 0, 0.109);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

img {
    padding: 4px 7px;
    border-radius: 10px;
}
h1{
    text-align: center;
}